.aboutme {
  margin: auto;
  width: 60%;
  margin-bottom: 40px;
  text-align: left;
  hr {
      margin-top: 10px;
      margin-bottom: 20px;
  }

  p {
    margin-bottom: 8px;
  }

  img.icon {
    margin-left: 10px;
    margin-right: 30px;
      @media screen and (min-width: 400px){
        margin-bottom: 50px;
        float: left;
      }
  }

  .float_clear {
    clear: left;
  }
}
