.archives{
	position: relative;
	margin-bottom: 90px;
	&:last-of-type{
		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			width: 200px;
		}
	}
	.year{
		margin: 0px;
		line-height: 35px;
		width: 200px;
		top: 0;
		&:before{
			content: "";
			position: absolute;
			width: 100%;
		}
		@media screen and (max-width: 620px){
			position: relative;
			width: 100%;
			margin: 10px 0 25px 0;
		}
	}
	article{
		padding-bottom: 20px;
		@media screen and (max-width: 620px){
			margin-left: 0;
			&:first-of-type{
				border-top: none;
				padding-top: 0px;
			}
		}
		.title{
			padding-top: 10px;
			padding-bottom: 0px;
		}
		.meta{
			color: $color01;
			font-size: 0.9em;
			line-height: 2;
			margin-top: 10px;
			@media screen and (max-width: 200px){
				display: none;
			}
			span{
				margin-right: 30px;
				@include inline-block;
				&:before{
					color: $color03;
					font: 1.3em $font-icon;
					padding-right: 10px;
				}
			}
			a{
				color: $color01;
				@include transition(0.3s);
				&:hover{
					color: $color01;
				}
			}
			.date, .tags, .comments {
			    padding-left: 30px;
			    margin-right: 20px;
			    position: relative;
			    float: left;
			    &:before{
			      color: $color01;
			      font: 1.3em $font-icon;
			      line-height: 1.6em;
			      position: absolute;
			      left: 0;
			    }
			}
			.date:before{content: "\f073";}
			.tags:before{content: "\f02c";}
			.comments:before{content: "\f075";}
		}
	}
}
