<div class="aboutme">
<hr>
  <div class="profile">
    <a href="http://twitter.com/{{site.twitter_user}}"><img class="icon" src="{{site.user_image}}"></a>

    <h3>{{ site.author }}</h3>
    <p><a href="http://twitter.com/{{site.twitter_user}}">@{{ site.twitter_user }}</a>{{site.user_profile}}</p>

    <div class="codes">
      <h4>Codes</h4>
      <div class="github"><a href="https://github.com/{{site.github_user}}">github.com/{{site.github_user}}</a></div>
    </div>
  </div>

  <div class="float_clear"></div>

</div>